<main>
  <div class="login-container">
    <p class="title">Olá, seja bem-vindo!</p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input
        id="name"
        type="text"
        formControlName="name"
        placeholder="Digite o seu nome:"
      />

      @if (form.get('name')?.invalid && form.get('name')?.touched) {
      <span>Digite um nome para prosseguir</span>
      }
      <button type="submit" class="enter-button" [disabled]="form.invalid">
        Entrar
      </button>
    </form>
  </div>
</main>
